<div class="home">
  <div class="home__background">
    <div class="home__content">
      <div class="home__content__name">Masoud Moeini</div>
      <div class="home__content__title">Web Developer</div>
      <div class="home__content__details">
        <div class="home__content__details__row">
          <span class="home__content__details__row-title">Age</span>
          <span class="home__content__details__row-value">28</span>

        </div>
        <div class="home__content__details__row">
          <span class="home__content__details__row-title">Location</span>
          <span class="home__content__details__row-value">Iran, Mashhad</span>

        </div>
        <div class="home__content__details__row">
          <span class="home__content__details__row-title">email</span>
          <span class="home__content__details__row-value">hi@masoudmoeini.com</span>

        </div>
        <div class="home__content__details__row">
          <span class="home__content__details__row-title">Phone</span>
          <span class="home__content__details__row-value">+98 935 7177175</span>

        </div>
        <div class="home__content__details__row">
          <span class="home__content__details__row-title">Skype</span>
          <span class="home__content__details__row-value">moeini90</span>

        </div>
      </div>

    </div>
  </div>


</div>
