<div class="contact">

  <div class="label">
    <div class="label-fold"></div>
    <div class="label-rect">
      <h3 class="label-title">Contact</h3>
    </div>
  </div>
  <div class="contact__content">



  <div class="contact__content__getInTouch">
    <h4 class="contact__content__getInTouch__title">Get in Touch</h4>
    <p class="contact__content__getInTouch__description">
      Sed eleifend sed nibh nec fringilla. Donec eu cursus sem, vitae tristique ante. Cras pretium rutrum egestas. Integer ultrices libero sed justo vehicula, eget tincidunt tortor tempus.
    </p>
    <div class="contact__content__getInTouch__contactDetails">
      <div class="contact__content__getInTouch__contactDetails__row">
        <img src="/assets/icon/placeholder.svg" alt="Address" class="contact__content__getInTouch__contactDetails__row__icon" />
        <span class="contact__content__getInTouch__contactDetails__row__text">Mashhad, Iran</span>
      </div>
      <div class="contact__content__getInTouch__contactDetails__row">
        <img src="/assets/icon/email.svg" alt="Email" class="contact__content__getInTouch__contactDetails__row__icon" />
        <span class="contact__content__getInTouch__contactDetails__row__text">info@masoudmoeini.com</span>
      </div>
      <div class="contact__content__getInTouch__contactDetails__row">
        <img src="/assets/icon/call.svg" alt="Phone Number" class="contact__content__getInTouch__contactDetails__row__icon" />
        <span class="contact__content__getInTouch__contactDetails__row__text">+98 935 7177175</span>
      </div>
      <div class="contact__content__getInTouch__contactDetails__row">
        <img src="/assets/icon/success.svg" alt="Freelance Available" class="contact__content__getInTouch__contactDetails__row__icon" />
        <span class="contact__content__getInTouch__contactDetails__row__text">Freelance Available</span>
      </div>
    </div>
  </div>
  <div class="contact__content__contactForm">

    <h4 class="contact__content__contactForm__title">Contact Form</h4>
    <form class="contact__content__contactForm__form" action="" method="post">

      <div class="contact__content__contactForm__form__inputText">
        <span class="contact__content__contactForm__form__inputText__alert" *ngIf="!name.valid && name.touched">Name is required</span>
        <input ngModel name="name" #name="ngModel"  required min="3" max="30" type="text" class="contact__content__contactForm__form__inputText__field" id="input-fullname">
        <label class="contact__content__contactForm__form__inputText__label" for="input-fullname">
          <span class="contact__content__contactForm__form__inputText__label-content" data-content="Full Name">

          </span>
        </label>
        <img src="/assets/icon/user.svg" alt="name icon" class="contact__content__contactForm__form__inputText__icon">

      </div>

      <div class="contact__content__contactForm__form__inputText">
        <span class="contact__content__contactForm__form__inputText__alert" *ngIf="!email.valid && email.touched">Email is required</span>
        <input ngModel name="email" #email="ngModel" required type="email" class="contact__content__contactForm__form__inputText__field" id="input-email">
        <label class="contact__content__contactForm__form__inputText__label" for="input-email">
          <span class="contact__content__contactForm__form__inputText__label-content" data-content="Email Address">

          </span>
        </label>
        <img src="/assets/icon/mail.svg" alt="mail icon" class="contact__content__contactForm__form__inputText__icon">
      </div>

      <div class="contact__content__contactForm__form__inputText height-util" >
        <span class="contact__content__contactForm__form__inputText__alert" *ngIf="!message.valid && message.touched">Message is required</span>
        <textarea ngModel name="message" #message="ngModel"  required class="contact__content__contactForm__form__inputText__field height-util" id="input-message" ></textarea>
        <label class="contact__content__contactForm__form__inputText__label" for="input-message">
          <span class="contact__content__contactForm__form__inputText__label-content" data-content="Message">

          </span>
        </label>
        <img src="/assets/icon/pencil.svg" alt="message icon" class="contact__content__contactForm__form__inputText__icon">
      </div>


      <div class="contact__content__contactForm__form__captcha">
        <recaptcha [formControl]="myRecaptcha" (scriptLoad)="onScriptLoad()" (scriptError)="onScriptError()"></recaptcha>
    </div>
      <div class="contact__content__contactForm__form__submit">
        <input type="submit" value="Send message" class="contact__content__contactForm__form__submit__field" />
      </div>

    </form>
  </div>

  </div>
</div>
