<div class="navbar">
  <div class="navbar__info">
    <div class="navbar__info__image">
      <img class="navbar__info__image-img" src="assets/img/my_photo2.png" alt="Profile Picture" />
    </div>
    <div class="navbar__info__name">
      <h1 class="navbar__info__name-h1"> Masoud Moeini </h1>
    </div>
    <div class="navbar__info__title">
      <h2 class="navbar__info__title-h2"> Front End Developer </h2>
    </div>
  </div>
  <div class="navbar__menu">
    <ul class="navbar__menu__list">
      <li class="navbar__menu__list__item" routerLink="/"><div
                                                                        class="navbar__menu__list__item__link">Home</div></li>
      <li class="navbar__menu__list__item" routerLink="/about"><div
                                                                         class="navbar__menu__list__item__link">About</div></li>
      <li class="navbar__menu__list__item" routerLink="/portfolio"><div
                                                                             class="navbar__menu__list__item__link">Portfolio</div></li>
      <li class="navbar__menu__list__item" routerLink="/contact"><div
                                                                           class="navbar__menu__list__item__link">Contact</div></li>
    </ul>
  </div>
</div>
