<div class="navbar">
  <div class="navbar__info">
    <div class="navbar__info__image">
      <img class="navbar__info__image-img" src="assets/img/my_photo.png" alt="Profile Picture" />
    </div>
    <div class="navbar__info__name">
      <h1 class="navbar__info__name-h1"> Masoud Moeini </h1>
    </div>
    <div class="navbar__info__title">
      <h2 class="navbar__info__title-h2"> Front End Developer </h2>
    </div>
  </div>
  <div class="navbar__menu">
    <ul class="navbar__menu__list">
      <li class="navbar__menu__list__item" (click)="setPage('home')"><a href="#"
                                                                        class="navbar__menu__list__item__link">Home</a></li>
      <li class="navbar__menu__list__item" (click)="setPage('about')"><a href="#"
                                                                         class="navbar__menu__list__item__link">About</a></li>
      <li class="navbar__menu__list__item" (click)="setPage('portfolio')"><a href="#"
                                                                             class="navbar__menu__list__item__link">Portfolio</a></li>
      <li class="navbar__menu__list__item" (click)="setPage('contact')"><a href="#"
                                                                           class="navbar__menu__list__item__link">Contact</a></li>
    </ul>
  </div>
  <div class="navbar__socialicons"></div>
</div>
