<div class="about">
  <div class="label">
    <div class="label-fold"></div>
    <div class="label-rect">
      <h3 class="label-title">About</h3>
    </div>
  </div>

  <div class="about__content">

  <div class="about__content__description">
    <h4 class="about__content__description__title">I am a passionate web developer</h4>
    <p class="about__content__description__text">
      Proin laoreet elementum ligula, ac tincidunt lorem accumsan nec. Fusce eget urna ante. Donec massa velit, varius a accumsan ac, tempor iaculis massa. Sed placerat justo sed libero varius vulputate. Ut a mi tempus massa malesuada fermentum.
    </p>
    <p class="about__content__description__text">
      Sed eleifend sed nibh nec fringilla. Donec eu cursus sem, vitae tristique ante. Cras pretium rutrum egestas. Integer ultrices libero sed justo vehicula, eget tincidunt tortor tempus. Sed tellus nibh, lobortis ut blandit sed, convallis a mauris.
    </p>
  </div>
    <div class="about__content__skills">
      <h4 class="about__content__skills__title">Skills</h4>
      <div class="about__content__skills__skilList">
        <ul class="about__content__skills__skilList__ul">

          <li class="about__content__skills__skilList__ul__skill">
            <span class="about__content__skills__skilList__ul__skill__title">
              <img src="assets/img/skills/front-end-skill.png" alt="User Interface Skill" class="about__content__skills__skilList__ul__skill__title-img">
              User Interface
            </span>
            <ul class="about__content__skills__skilList__ul__skill__subSkills">
              <li class="about__content__skills__skilList__ul__skill__subSkills__subSkill">

                <span class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title">
                  <img src="assets/img/skills/subskills/html5-skill.png" alt="HTML5 Skill" class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title-img">
                  HTML5
                </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkills__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title">
              <img src="assets/img/skills/subskills/css3-skill.png" alt="CSS3 Skill" class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title-img">
              CSS3
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkills__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title">
              <img src="assets/img/skills/subskills/sass-skill.png" alt="SASS Skill" class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title-img">
              SASS
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkills__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title">
              <img src="assets/img/skills/subskills/bootstrap-skill.png" alt="Bootstrap Skill" class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title-img">
              Bootstrap
            </span>
              </li>
            </ul>
          </li>

          <li class="about__content__skills__skilList__ul__skill">

            <span class="about__content__skills__skilList__ul__skill__title">
              <img src="assets/img/skills/javascript-skill.png" alt="Javascript Skill" class="about__content__skills__skilList__ul__skill__title-img">
              Javascript
            </span>
            <ul class="about__content__skills__skilList__ul__skill__subSkills">
              <li class="about__content__skills__skilList__ul__skill__subSkills__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title">
            <img src="assets/img/skills/subskills/typescript-skill.png" alt="Typescript Skill" class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title-img">
              Typescript
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkills__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title">
              <img src="assets/img/skills/subskills/jquery-skill.png" alt="Jquery Skill" class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title-img">
              jQuery
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkills__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title">
              <img src="assets/img/skills/subskills/angular-skill.png" alt="Angular Skill" class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title-img">
              Angular
            </span>
              </li>

            </ul>
          </li>

          <li class="about__content__skills__skilList__ul__skill">

            <span class="about__content__skills__skilList__ul__skill__title">
              <img src="assets/img/skills/database-skill.png" alt="Database Skill" class="about__content__skills__skilList__ul__skill__title-img">
              Database
            </span>
            <ul class="about__content__skills__skilList__ul__skill__subSkills">
              <li class="about__content__skills__skilList__ul__skill__subSkills__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title">
              <img src="assets/img/skills/subskills/mysql-skill.png" alt="MySQL Skill" class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title-img">
              MySQL
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkills__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title">
              <img src="assets/img/skills/subskills/html5-skill.png" alt="IndexedDB Skill" class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title-img">
              IndexedDB
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkills__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title">
              <img src="assets/img/skills/subskills/mongodb-skill.png" alt="MongoDB Skill" class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title-img">
              MongoDB
            </span>
              </li>

            </ul>
          </li>
          <li class="about__content__skills__skilList__ul__skill">

            <span class="about__content__skills__skilList__ul__skill__title">
              <img src="assets/img/skills/general-skill.png" alt="General Skill" class="about__content__skills__skilList__ul__skill__title-img">
              General
            </span>
            <ul class="about__content__skills__skilList__ul__skill__subSkills">
              <li class="about__content__skills__skilList__ul__skill__subSkills__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title">
              <img src="assets/img/skills/subskills/git-skill.png" alt="Git Skill" class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title-img">
              Git
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkills__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title">
              <img src="assets/img/skills/subskills/office-skill.png" alt="Office Skill" class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title-img">
              Microsoft Office
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkills__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title">
              <img src="assets/img/skills/subskills/photoshop-skill.png" alt="Photoshop Skill" class="about__content__skills__skilList__ul__skill__subSkills__subSkill__title-img">
              Basic Photoshop
            </span>
              </li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
