<div class="about">
  <div class="label">
    <div class="label-fold"></div>
    <div class="label-rect">
      <h3 class="label-title">About</h3>
    </div>
  </div>

  <div class="about__content">

  <div class="about__content__description">
    <h4 class="about__content__description__title">I am a passionate web developer</h4>
    <p class="about__content__description__text">
      Proin laoreet elementum ligula, ac tincidunt lorem accumsan nec. Fusce eget urna ante. Donec massa velit, varius a accumsan ac, tempor iaculis massa. Sed placerat justo sed libero varius vulputate. Ut a mi tempus massa malesuada fermentum.
    </p>
    <p class="about__content__description__text">
      Sed eleifend sed nibh nec fringilla. Donec eu cursus sem, vitae tristique ante. Cras pretium rutrum egestas. Integer ultrices libero sed justo vehicula, eget tincidunt tortor tempus. Sed tellus nibh, lobortis ut blandit sed, convallis a mauris.
    </p>
  </div>
    <div class="about__content__skills">
      <h4 class="about__content__skills__title">Skills</h4>
      <div class="about__content__skills__skilList">
        <ul class="about__content__skills__skilList__ul">
          <li class="about__content__skills__skilList__ul__skill">
            <span class="about__content__skills__skilList__ul__skill__title">
              General
            </span>
            <ul class="about__content__skills__skilList__ul__skill__subSkills">
              <li class="about__content__skills__skilList__ul__skill__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkill__title">
              Microsoft Office (Word, Excel, PowerPoint)
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkill__title">
              Basic Photoshop
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkill__title">
              Ability to Work Under Pressure
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkill__title">
              Collaboration
            </span>
              </li>
            </ul>
          </li>
          <li class="about__content__skills__skilList__ul__skill">
            <span class="about__content__skills__skilList__ul__skill__title">
              User Interface
            </span>
            <ul class="about__content__skills__skilList__ul__skill__subSkills">
              <li class="about__content__skills__skilList__ul__skill__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkill__title">
              HTML5
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkill__title">
              CSS3
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkill__title">
              SASS
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkill__title">
              Bootstrap
            </span>
              </li>
            </ul>
          </li>

          <li class="about__content__skills__skilList__ul__skill">
            <span class="about__content__skills__skilList__ul__skill__title">
              Javascript
            </span>
            <ul class="about__content__skills__skilList__ul__skill__subSkills">
              <li class="about__content__skills__skilList__ul__skill__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkill__title">
              Typescript
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkill__title">
              jQuery
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkill__title">
              Angular
            </span>
              </li>

            </ul>
          </li>

          <li class="about__content__skills__skilList__ul__skill">
            <span class="about__content__skills__skilList__ul__skill__title">
              Database
            </span>
            <ul class="about__content__skills__skilList__ul__skill__subSkills">
              <li class="about__content__skills__skilList__ul__skill__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkill__title">
              MySQL
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkill__title">
              IndexedDB
            </span>
              </li>
              <li class="about__content__skills__skilList__ul__skill__subSkill">
            <span class="about__content__skills__skilList__ul__skill__subSkill__title">
              WebSQL
            </span>
              </li>

            </ul>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
