<div class="portfolio">
  <div class="label">
    <div class="label-fold"></div>
    <div class="label-rect">
      <h3 class="label-title">Portfolio</h3>
    </div>
  </div>

  <div class="portfolio__content">
    <div class="portfolio__content__items">
      <div class="portfolio__content__items__item">
        <div class="portfolio__content__items__item-container">
          <img src="/assets/img/portfolio-img-1.jpg" alt="" class="portfolio__content__items__item-container-img">
          <div class="portfolio__content__items__item-container-button">More info</div>
        </div>
      </div>
      <div class="portfolio__content__items__item">
        <div class="portfolio__content__items__item-container">
          <img src="/assets/img/portfolio-img-2.jpg" alt="" class="portfolio__content__items__item-container-img">
        </div>
      </div>
      <div class="portfolio__content__items__item">
        <div class="portfolio__content__items__item-container">
          <img src="/assets/img/portfolio-img-3.jpg" alt="" class="portfolio__content__items__item-container-img">
        </div>
      </div>
      <div class="portfolio__content__items__item">
        <div class="portfolio__content__items__item-container">
          <img src="/assets/img/portfolio-img-4.jpg" alt="" class="portfolio__content__items__item-container-img">
        </div>
      </div>
      <div class="portfolio__content__items__item">
        <div class="portfolio__content__items__item-container">
          <img src="/assets/img/portfolio-img-5.jpg" alt="" class="portfolio__content__items__item-container-img">
        </div>
      </div>
      <div class="portfolio__content__items__item">
        <div class="portfolio__content__items__item-container">
          <img src="/assets/img/portfolio-img-6.jpg" alt="" class="portfolio__content__items__item-container-img">
        </div>
      </div>
      <div class="portfolio__content__items__item">
        <div class="portfolio__content__items__item-container">
          <img src="/assets/img/portfolio-img-7.jpg" alt="" class="portfolio__content__items__item-container-img">
        </div>
      </div>
      <div class="portfolio__content__items__item">
        <div class="portfolio__content__items__item-container">
          <img src="/assets/img/portfolio-img-8.jpg" alt="" class="portfolio__content__items__item-container-img">
        </div>
      </div>
    </div>

  </div>
</div>
