.height-util{
  height: 20rem !important;
}
.visuallyHidden{
  display: none !important;
}

.drawerEffect{
  @include respond(tab-port) {
    transform: translateX(0%) !important;
  }
  @include respond(phone) {
    transform: translateX(0%) !important;
  }

}
.opacityEffect{
  @include respond(tab-port) {
    opacity: 0.7 !important;
  }
  @include respond(phone) {
    opacity: 0.7 !important;
  }

}


