.height-util{
  height: 20rem !important;
}
.visuallyHidden{
  display: none !important;
}

.drawerEffect{
  @include respond(phone) {
    transform: translateX(0%) !important;
  }
}
.opacityEffect{
  @include respond(phone) {
    opacity: 0.7 !important;
  }
}


